# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
dist
dist-ssr
build
.next
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# Testing & Coverage
coverage/
.nyc_output/

# Prisma
# Backend/prisma/*.db (if using SQLite, though it looks like you use MongoDB)

#scripts
run.sh

# AI Commit CLI
.gity.yaml
